
<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/pfp.png" alt="profile picture">
<p>
  Welcome to my first blog! I’m a writer who loves sharing stories about life, travel, and everything in between.</p>
  <%- include("partials/footer.ejs") %>